.heading {
    margin-bottom: 5em;
  }
  .heading h2 {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.5;
    color: #000;
    text-transform: uppercase;
    position: relative;
  }
  .heading h2:after {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    width: 50px;
    height: 1px;
    margin: 0 auto;
    background: rgba(0, 0, 0, 0.08);
  }
  .heading p {
    font-size: 14px;
    float: left;
  }